 //antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 15px;
$base-font-color: #222;
$base-background-color: #fff;

$site-size: 1200px + 60;

// colors
$color-primary: #e2415c;

// easing / animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

//breakpoints
$breakpoint-mobile: 767px;

// development
$path-assets: "/public";
// production
// $path-assets: "/lp/zyoukyo/public";

$path-image: "#{$path-assets}/images/";
$path-font: "#{$path-assets}/fonts";

$font-ten-mincho: ten-mincho, serif;
$font-antro-vectra: 'AntroVectra';

@font-face {
    font-family: 'AntroVectra';
    src: url('#{$path-font}/AntroVectra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$path-font}/AntroVectra.woff2') format('woff2'), /* Super Modern Browsers */
    url('#{$path-font}/AntroVectra.woff') format('woff'), /* Pretty Modern Browsers */
    url('#{$path-font}/AntroVectra.ttf')  format('truetype'), /* Safari, Android, iOS */
}