<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Gyaru-Money</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" >

	<link rel="stylesheet" href="public/css/style.css">
	
	<!-- Ten Mincho font -->
	<script>
	  (function(d) {
	    var config = {
	      kitId: 'nzz6oza',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</head>
<body id="js-top">
	<main>

		<%- include('partials/hero'); %>

		<section class="l-intro">
			<div class="l-container">
				<%- include('partials/intro'); %>
			</div>
		</section>
		<section class="l-services">
			<div class="l-services__decors"></div>
			<div class="l-container">
				<%- include('partials/services'); %>
			</div>
		</section>
		<aside class="l-contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
	</main>
	<script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>