<div class="contact">
	<div class="contact__block js-show">
		<p class="contact__text">お申し込みはLINEだから超簡単♡</p>
		<p class="contact__text contact__text--sub">応募はお早めに!!</p>
	</div>
	<div class="contact__block js-show">
		<p class="contact__text">「<span class="dotted dotted--white">東</span><span class="dotted dotted--white">京</span><span class="dotted dotted--white">新</span><span class="dotted dotted--white">⽣</span><span class="dotted dotted--white">活</span><span class="dotted dotted--white">応</span><span class="dotted dotted--white">援</span><span class="dotted dotted--white">キ</span><span class="dotted dotted--white">ャ</span><span class="dotted dotted--white">ン</span><span class="dotted dotted--white">ペ</span><span class="dotted dotted--white">ー</span><span class="dotted dotted--white">ン</span><span class="dotted dotted--white">を</span><span class="dotted dotted--white">み</span><span class="dotted dotted--white">た」</span></p>
		<p class="contact__text contact__text--sub">とお伝えください。</p>
	</div>
	<a class="contact__button js-show" href="https://lin.ee/C0sIdq6" target="_blank">ガルマネのLINE友達追加はこちら</a>
</div>