<div class="faq">
	<h2 class="faq__heading js-show">
		<span class="faq__heading-sub">まだ少しご不安な方へ</span>
		<p class="faq__heading-main">お役立ち<span>FAQ</span></p>
	</h2>
	<ul class="faq__list">
		<li class="faq__item js-show" data-offset="300">
			<img src="public/images/faq-1.png" alt="" class="u-show-sp">
			<img src="public/images/faq-1-pc.png" alt="" class="u-show-pc">
			<div class="faq__item-details">
				<p class="faq__item-description">私、東京からかなり離れた県に住んでいるんだけど⼤丈夫かなぁ…</p>
			</div>
		</li>
		<li class="faq__item faq__item--answer js-show" data-offset="300">
			<img src="public/images/faq-2.png" alt="" class="u-show-sp">
			<img src="public/images/faq-2-pc.png" alt="" class="u-show-pc">
			<div class="faq__item-details">
				<p class="faq__item-heading">ご安⼼ください!!</p>
				<p class="faq__item-description">国内在住の⽅なら どこでも⼤丈夫です!!実は歌舞伎町のキャバ嬢さん… ほとんど地⽅出⾝なんです</p>
			</div>
		</li>
		<li class="faq__item js-show" data-offset="300">
			<img src="public/images/faq-3.png" alt="" class="u-show-sp">
			<img src="public/images/faq-3-pc.png" alt="" class="u-show-pc">
			<div class="faq__item-details">
				<p class="faq__item-description">引越しなど距離が遠いときは別途お金はかかるの?</p>
			</div>
		</li>
		<li class="faq__item faq__item--answer js-show" data-offset="300">
			<img src="public/images/faq-4.png" alt="" class="u-show-sp">
			<img src="public/images/faq-4-pc.png" alt="" class="u-show-pc">
			<div class="faq__item-details">
				<p class="faq__item-heading">かかりません!!</p>
				<p class="faq__item-description">都内からの距離と引越し費⽤は関係ありません!!このチャンスに新しい⽣活を始めましょう!!</p>
			</div>
		</li>
	</ul>
</div>