<footer class="footer">
	<div class="footer__eyecatch">
		<h2 class="footer__heading">ガルマネ<span>とは？</span></h2>
		<img src="public/images/footer-img.png" alt="">
		<p class="footer__description">“ガルマネ”は、今この瞬間を⾃分らしく ⽣きることを叶えるために、ナイトワークを選択する⼥性を徹底的にサ ポートします。</p>
	</div>
	<div class="footer__bottom">
		<img src="public/images/logo-pink.png" alt="">
		<small>© Copyright ガルマネ</small>
	</div>
</footer>