<header class="header">
	<div class="header__hamburger" id="js-toggle-menu">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav class="header__menu" id="js-menu">
		<ul class="header__menu-list">
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-top">ホーム</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-services-section">東京新生活応援キャンペーンの</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-faq-section">まだ少しご不安な方へ</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-footer">ガルマネとは？</a>
			</li>
		</ul>
	</nav>
</header>