<div class="hero">
	<div class="hero__decors"></div>
	<img class="hero__logo" src="public/images/logo.png" alt="">
	<h1 class="hero__heading">
		<img src="public/images/hero-heading.png" alt="">
	</h1>
	<div class="hero__curved">
		<p class="js-curved-text" data-radius="250">#仕事探しサポート</p>
		<p class="js-curved-text" data-radius="180">#引越し代行</p>
		<p class="js-curved-text" data-radius="280">#最大1万円祝い金贈呈</p>
	</div>
	<p class="hero__support">Support<br><span>Campaign</span></p>
</div>