<div class="hero" id="js-hero">
	<div class="hero__decors" id="js-hero-decors"></div>
	<img class="hero__logo" src="public/images/logo.png" alt="" id="js-hero-logo">
	<h1 class="hero__heading" id="js-hero-title">
		<img src="public/images/hero-heading.png" alt="">
	</h1>
	<div class="hero__curved" id="js-hero-curved">
		<p class="js-curved-text" data-radius="250">#仕事探しサポート</p>
		<p class="js-curved-text" data-radius="180">#引越し代行</p>
		<p class="js-curved-text" data-radius="280">#最大1万円祝い金贈呈</p>
	</div>
	<p class="hero__support"  id="js-hero-support">Support<br><span>Campaign</span></p>
	<img class="hero__woman" src="public/images/hero-img.png" alt="">
</div>