<div class="intro">
	<h2 class="intro__heading js-show">こんな悩み…ありませんか？</h2>
	<ul class="intro__list js-show">
		<li class="intro__item">
			<p>今よりもっと<br>稼ぎたい!!</p>
		</li>
		<li class="intro__item">
			<p>新しい環境<br>で働きたい</p>
		</li>
		<li class="intro__item">
			<p>有名店で<br>挑戦したい!!</p>
		</li>
		<li class="intro__item">
			<p>上京したい!!</p>
		</li>
	</ul>
	<img class="intro__image js-show" src="public/images/intro.png" alt="">
	<p class="intro__bottom js-show">そんなあなたの希望が<br>「<span class="dotted">す</span><span class="dotted">ぐ</span><span class="dotted">に</span>」叶っちゃう!!</p>
</div>