<div class="intro">
	<h2 class="intro__heading">こんな悩み…ありませんか？</h2>
	<ul class="intro__list">
		<li class="intro__item">
			<p>今よりもっと<br>稼ぎたい!!</p>
		</li>
		<li class="intro__item">
			<p>新しい環境<br>で働きたい</p>
		</li>
		<li class="intro__item">
			<p>有名店で<br>挑戦したい!!</p>
		</li>
		<li class="intro__item">
			<p>上京したい!!</p>
		</li>
	</ul>
	<img class="intro__image" src="public/images/intro.png" alt="">
	<p class="intro__bottom">そんなあなたの希望が<br>「すぐに」叶っちゃう!!</p>
</div>