<div class="services">
	<h2 class="services__heading">
		<span class="services__heading-sub">東京新生活応援キャンペーンの</span>
		<p class="services__heading-main">嬉しい<span>3</span>つのサービス</p>
	</h2>
	<ul class="services__list">
		<li class="services__item">
			<img src="public/images/service-1.png" alt="">
			<div class="services__item-details">
				<h3 class="services__item-title">都内の⼈気キャバクラ店で<br>思う存分働ける!!</h3>
			</div>
			<p class="services__item-description">お仕事コンシェルジュと⾯談した上で有名 店、優良店をご紹介します。⼀流スカウト マンが全⾯的にサポート&ケアをするので、 何も⼼配する必要なし!!</p>
		</li>
		<li class="services__item">
			<img src="public/images/service-2.png" alt="">
			<div class="services__item-details">
				<h3 class="services__item-title">お家探しを<br>代⾏してもらえる!!</h3>
			</div>
			<p class="services__item-description">ガルマネ経由だからできるオリジナルサー ビス!!ご希望の場合は、物件の内覧なども ガルマネが提携する不動産会社のスタッフが⾏います。</p>
		</li>
		<li class="services__item">
			<img src="public/images/service-3.png" alt="">
			<div class="services__item-details">
				<h3 class="services__item-title">上京祝い金を活用して<br>新生活の不安も解消!!</h3>
			</div>
			<p class="services__item-description">なんと!!⼊店・引っ越しのお祝いとして1万円贈呈いたします!!(または、初⽉分 の家賃と同額を贈呈いたします)</p>
		</li>
	</ul>
	<div class="services__bottom">
		<span class="services__bottom-sub">お仕事探しからお家探しまで</span>
		<p class="services__bottom-main">ガルマネにお任せ!!</p>
	</div>
</div>