.l-contact {
    position: relative;

    padding: 60px 0 30px;

    background-color: $color-primary;

    &:before {
        position: absolute;
        top: -72px;
        left: 0;

        width: 100vw;
        height: 72px;

        content: '';

        background-image: url(#{$path-image}contact-top-pc.png);
        background-size: contain;

        @include max-screen($breakpoint-mobile) {
            top: -24px;

            height: 24px;

            background-image: url(#{$path-image}contact-top.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &:after {
        position: absolute;
        top: -130px;
        left: 150px;

        display: block;

        width: 150px;
        height: 150px;

        content: '';

        background-image: url(#{$path-image}badge.png);
        background-repeat: no-repeat;
        background-size: cover;

        @include max-screen($breakpoint-mobile) {
            top: -60px;
            left: 15px;

            width: 100px;
            height: 100px;
        }
    }
}
