.l-faq {
    position: relative;

    padding: 70px 0 150px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 70px;
    }
}

.l-faq__decors {
    position: relative;
    z-index: 2;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: -45px;
            right: 0;

            width: 125px;
            height: 180px;

            @include max-screen($breakpoint-mobile) {
                width: 60px;
                height: 86px;
            }
        }
        &:nth-child(2) {
            top: 25px;
            left: 0;

            width: 125px;
            height: 255px;

            @include max-screen($breakpoint-mobile) {
                width: 59px;
                height: 121px;
            }
        }
        &:nth-child(3) {
            top: 813px;
            right: 0;

            width: 100px;
            height: 138px;

            @include max-screen($breakpoint-mobile) {
                top: 513px;

                width: 58px;
                height: 80px;
            }
        }
        &:last-child {
            top: 1495px;
            left: 0;

            width: 95px;
            height: 159px;

            @include max-screen($breakpoint-mobile) {
                top: 1015px;

                width: 65px;
                height: 109px;
            }
        }
    }
}
