.l-faq {
    position: relative;

    padding: 70px 0 150px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 70px;
    }
}

.l-faq__decors {
    position: absolute;
    top: 30px;
    left: 0;

    width: 100vw;
    height: 97%;

    background-image: url(#{$path-image}faq-decor.png);
    background-repeat: no-repeat;
    background-size: cover;
}
