.l-faq {
    position: relative;

    padding: 70px 0 150px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 70px;
    }
}

.l-faq__decors {
    position: relative;
    z-index: 2;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: -45px;
            right: 0;

            width: 60px;
            height: 86px;
        }
        &:nth-child(2) {
            top: 25px;
            left: 0;

            width: 59px;
            height: 121px;
        }
        &:nth-child(3) {
            top: 513px;
            right: 0;

            width: 58px;
            height: 80px;
        }
        &:last-child {
            top: 1015px;
            left: 0;

            width: 65px;
            height: 109px;
        }
    }
}
