.l-footer {
    position: relative;

    padding: 80px 0 10px;

    background-color: #fff1f3;
}

.l-footer__decors {
    position: relative;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: -80px;
            left: 0;

            width: 190px;
            height: 165px;

            @include max-screen($breakpoint-mobile) {
                width: 136px;
                height: 117px;
            }
        }
        &:last-child {
            top: 195px;
            right: 0;

            width: 151px;
            height: 293px;

            @include max-screen($breakpoint-mobile) {
                top: 253px;

                width: 101px;
                height: 196px;
            }
        }
    }
}
