.l-footer {
    position: relative;

    padding: 80px 0 10px;

    background-color: #fff1f3;
}

.l-footer__decors {
    position: relative;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: -80px;
            left: 0;

            width: 136px;
            height: 117px;
        }
        &:last-child {
            top: 253px;
            right: 0;

            width: 101px;
            height: 196px;
        }
    }
}
