.l-services {
    position: relative;

    padding: 160px 0 100px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding: 100px 0 125px;
    }
}

.l-services__decors {
    position: relative;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: 100px;
            right: 0;

            width: 89px;
            height: 191px;
        }
        &:nth-child(2) {
            top: 653px;
            left: 0;

            width: 77px;
            height: 157px;
        }
        &:nth-child(3) {
            top: 1210px;
            right: 0;

            width: 83px;
            height: 180px;
        }
        &:nth-child(4) {
            top: 1755px;
            left: 0;

            width: 70px;
            height: 114px;
        }
        &:last-child {
            top: 1910px;
            right: 0;

            width: 89px;
            height: 160px;
        }
    }
}
