.l-services {
    position: relative;

    padding: 160px 0 100px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding: 100px 0 125px;
    }
}

.l-services__decors {
    position: relative;
    z-index: 2;

    div {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
            top: 80px;
            right: 0;

            width: 140px;
            height: 301px;

            @include max-screen($breakpoint-mobile) {
                top: 100px;

                width: 89px;
                height: 191px;
            }
        }
        &:nth-child(2) {
            top: 500px;
            left: 0;

            width: 137px;
            height: 280px;

            @include max-screen($breakpoint-mobile) {
                top: 653px;

                width: 77px;
                height: 157px;
            }
        }
        &:nth-child(3) {
            top: 930px;
            right: 0;

            width: 133px;
            height: 285px;

            @include max-screen($breakpoint-mobile) {
                top: 1210px;

                width: 83px;
                height: 180px;
            }
        }
        &:nth-child(4) {
            top: 1355px;
            left: 0;

            width: 95px;
            height: 154px;

            @include max-screen($breakpoint-mobile) {
                top: 1755px;

                width: 70px;
                height: 114px;
            }
        }
        &:last-child {
            top: 1493px;
            right: 0;

            width: 120px;
            height: 216px;

            @include max-screen($breakpoint-mobile) {
                top: 1910px;

                width: 89px;
                height: 160px;
            }
        }
    }
}
