.l-services {
    position: relative;

    padding: 160px 0 100px;

    background-color: #fff1f3;

    @include max-screen($breakpoint-mobile) {
        padding: 100px 0 125px;
    }
}

.l-services__decors {
    position: absolute;
    top: 170px;
    left: 0;

    width: 100vw;
    height: 94%;

    background-image: url(#{$path-image}services-decor.png);
    background-repeat: no-repeat;
    background-size: cover;
}
