.contact {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.contact__text {
    font-size: 20px;
    font-weight: bold;

    color: #fff;

    font-feature-settings: 'palt';

    // MODIFIER
    &.contact__text--sub {
        font-size: 18px;

        margin-bottom: 20px;
    }
}

.contact__button {
    font-size: 18px;
    font-weight: bold;
    line-height: 6;

    display: block;

    width: 353px;
    height: 105px;
    padding: 0 30px;

    text-align: left;
    letter-spacing: -.03em;

    color: $color-primary;
    background-image: url(#{$path-image}line-button-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
