.faq__heading {
    font-weight: normal;
    line-height: 1.25;

    position: relative;

    text-align: center;

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: width 7s cubic-bezier(.19, 1, .22, 1);

        background-color: #fff1f3;

        @include max-screen($breakpoint-mobile) {
            transition-duration: 3.5s;
        }
    }

    &:after {
        position: absolute;
        bottom: -25px;
        left: 50%;

        display: block;

        width: 88px;
        height: 6px;

        content: '';
        transform: translateX(-50%);

        background-image: url(#{$path-image}faq-heading-border.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.faq__heading-sub {
    font-family: $font-ten-mincho;
    font-size: 32px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;
    }
}

.faq__heading-main {
    font-family: $font-ten-mincho;
    font-size: 38px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 30px;
    }

    span {
        font-size: 48px;

        color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            font-size: 35px;
        }
    }
}

.faq__list {
    width: 900px;
    margin: 90px auto 0;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.faq__item {
    display: flex;

    margin-bottom: 20px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        margin-bottom: 90px;
    }

    &.faq__item--answer {
        img {
            margin-right: -15px;
            margin-left: 0;

            order: 2;
        }
        .faq__item-details {
            width: 57%;

            order: 1;
            @include max-screen($breakpoint-mobile) {
                width: 191px;
            }

            &:before {
                top: -45px;
                left: 3px;

                content: 'A.';

                @include max-screen($breakpoint-mobile) {
                    top: -35px;
                }
            }
        }
    }

    img {
        width: 40%;

        @include max-screen($breakpoint-mobile) {
            width: 150px;
            height: 132px;
            margin-left: -15px;
        }
    }

    &:nth-child(3) {
        .faq__item-details {
            @include max-screen($breakpoint-mobile) {
                width: 140px;
            }
        }
    }
}

.faq__item-details {
    position: relative;

    width: 45%;

    &:before {
        font-size: 30px;
        font-weight: bold;

        position: absolute;
        top: -25px;
        left: -45px;

        content: 'Q.';

        opacity: .3;
        color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            top: -20px;
            left: -37px;

            width: 144px;
        }
    }
}

.faq__item-heading {
    font-family: $font-ten-mincho;
    font-size: 32px;

    letter-spacing: -.1em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 28px;
    }
}

.faq__item-description {
    font-size: 21px;
    line-height: 1.7;

    @include max-screen($breakpoint-mobile) {
        font-size: 16px;
        line-height: inherit;
    }
}

// ANIMATIONS
.faq__heading {
    &.is-shown {
        &:before {
            width: 0;
        }
    }
}

.faq__item {
    transition: opacity .7s $easing,
    transform .7s $easing;

    opacity: 0;

    &:first-child,
    &:nth-child(3) {
        transform: translateX(-200px);
    }
    &:nth-child(2),
    &:last-child {
        transform: translateX(200px);
    }

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}
