.faq__heading {
    font-weight: normal;
    line-height: 1.25;

    position: relative;

    text-align: center;

    &:after {
        position: absolute;
        bottom: -25px;
        left: 50%;

        display: block;

        width: 88px;
        height: 6px;

        content: '';
        transform: translateX(-50%);

        background-image: url(#{$path-image}faq-heading-border.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.faq__heading-sub {
    font-family: $font-ten-mincho;
    font-size: 32px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;
    }
}

.faq__heading-main {
    font-family: $font-ten-mincho;
    font-size: 38px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 30px;
    }

    span {
        font-size: 48px;

        color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            font-size: 35px;
        }
    }
}

.faq__list {
    width: 900px;
    margin: 90px auto 0;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.faq__item {
    display: flex;

    margin-bottom: 20px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        margin-bottom: 80px;
    }

    &.faq__item--answer {
        img {
            margin-right: -15px;
            margin-left: 0;

            order: 2;
        }
        .faq__item-details {
            width: 59%;

            order: 1;

            &:before {
                font-size: 35px;
                font-weight: bold;

                position: absolute;
                top: -45px;
                left: 3px;

                content: 'A.';

                opacity: .3;
                color: $color-primary;

                @include max-screen($breakpoint-mobile) {
                    top: -35px;
                }
            }
        }
    }

    img {
        width: 40%;

        @include max-screen($breakpoint-mobile) {
            width: 150px;
            height: 132px;
            margin-left: -15px;
        }
    }
}

.faq__item-details {
    position: relative;

    width: 45%;

    &:before {
        font-family: 'Verdana';
        font-size: 35px;
        font-weight: bold;

        position: absolute;
        top: -25px;
        left: -45px;

        content: 'Q.';

        opacity: .3;
        color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            font-size: 28px;

            top: -20px;
            left: -37px;
        }
    }
}

.faq__item-heading {
    font-family: $font-ten-mincho;
    font-size: 32px;

    letter-spacing: -.1em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 28px;
    }
}

.faq__item-description {
    font-size: 21px;
    line-height: 1.7;

    @include max-screen($breakpoint-mobile) {
        font-size: 16px;
        line-height: inherit;

        letter-spacing: -.07em;
    }
}
