.faq {

}

.faq__heading {
	font-weight: normal;
	text-align: center;
	line-height: 1.25;
	position: relative;

	&:after {
		content: '';
		display: block;
		background-image: url(#{$path-image}faq-heading-border.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    width: 88px;
	    height: 6px;

	    position: absolute;
	    bottom: -25px;
	    left: 50%;
	    transform: translateX(-50%);
	}
}

.faq__heading-sub {
	font-family: $font-ten-mincho;
	font-size: 25px;
	color: #cca873;
}

.faq__heading-main {
	font-family: $font-ten-mincho;
	font-size: 30px;
	color: #cca873;

	span {
		font-size: 35px;
		color: $color-primary;
	}
}

.faq__list {
	margin-top: 90px;
	list-style-type: none;
}

.faq__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;

	&.faq__item--answer {
		img {
			order: 2;
			margin-right: -15px;
			margin-left: 0;
		}
		.faq__item-details {
			order: 1;
			width: 59%;

			&:before {
				content: 'A.';
				font-size: 30px;
				color: $color-primary;
				opacity: .3;
				font-weight: bold;
				position: absolute;
			    top: -35px;
		    	left: 3px;
			}
		}
	}

	img {
		width: 150px;
		height: 132px;
		margin-left: -15px;
	}
}

.faq__item-details {
	width: 45%;
	position: relative;

	&:before {
		content: 'Q.';
		font-size: 28px;
		color: $color-primary;
		opacity: .3;
		font-weight: bold;
		position: absolute;
	    top: -20px;
    	left: -37px;
	    font-family: 'Verdana';
	}
}

.faq__item-heading {
	font-family: $font-ten-mincho;
	font-size: 28px;
	color: $color-primary;
	letter-spacing: -0.1em;
}

.faq__item-description {
	font-size: 16px;
    letter-spacing: -0.07em;
}