.footer__eyecatch {
    display: flex;

    width: 100%;
    padding: 40px 45px;

    text-align: center;
    letter-spacing: -.14em;

    border: 2px solid $color-primary;
    border-radius: 15px;
    background-color: #fcefe7;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        display: block;

        padding: 20px 15px;
    }

    img {
        width: 35%;

        @include max-screen($breakpoint-mobile) {
            width: 250px;
            height: 141px;
            margin: 20px auto;
        }
    }
}

.footer__heading {
    font-family: $font-ten-mincho;
    font-size: 39px;
    font-weight: normal;

    position: relative;

    width: 100%;
    margin-bottom: 20px;

    text-align: center;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;
    }

    &:after {
        position: absolute;
        bottom: -15px;
        left: 50%;

        display: block;

        width: 120px;
        height: 12px;

        content: '';
        transform: translateX(-50%);

        background-image: url(#{$path-image}faq-heading-border.png);
        background-repeat: no-repeat;
        background-size: contain;

        @include max-screen($breakpoint-mobile) {
            width: 88px;
            height: 6px;
        }
    }

    span {
        font-size: 35px;

        color: #cca873;

        @include max-screen($breakpoint-mobile) {
            font-size: 22px;
        }
    }
}

.footer__description {
    font-size: 21px;

    width: 50%;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        width: 100%;
    }
}

.footer__bottom {
    margin-top: 45px;

    text-align: center;

    img {
        display: block;

        width: 140px;
        height: 42px;
        margin: 0 auto 5px;

        @include max-screen($breakpoint-mobile) {
            width: 114px;
            height: 36px;
        }
    }

    small {
        font-size: 12px;

        color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            font-size: 10px;
        }
    }
}
