.header {
    position: relative;
}

.header__logo {
    width: 100%;
    padding: 10px 0;

    text-align: center;

    border-bottom: 1px solid #fff;

    img {
        width: 130px;
    }
}

.header__hamburger {
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 15px;

    width: 26px;
    height: 24px;

    cursor: pointer;
    transition: transform .5s $easing;
    transform: rotate(0deg);

    span {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        transition: $duration $easing;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 9px;
        background-color: $color-primary;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 11px;
        }

        &:nth-child(4) {
            top: 22px;
        }
    }

    // STATE
    &.is-open {
        right: 20px;

        span {
            background-color: #fff1f3;
            &:nth-child(1) {
                top: 9px;
                left: 50%;

                width: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 9px;
                left: 50%;

                width: 0;
            }
        }
    }
}

.header__menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 370px;
    height: 100%;

    transition: opacity .5s $easing;

    opacity: 0;
    background-color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        z-index: -1;

        width: 100%;
    }

    .contact__block,
    .contact__button {
        text-align: center;

        opacity: 1;
    }

    .contact__block {
        width: 100%;
        margin: 20px 0 -20px;

        .contact__text {
            font-size: 20px;

            &.contact__text--sub {
                font-size: 18px;
            }
        }
    }
    .contact__button {
        font-size: 18px;

        width: 353px;
        height: 105px;
        margin: 0 auto;
    }

    // STATE
    &.is-shown {
        position: fixed;
        z-index: 15;

        opacity: 1;
    }
}

.header__menu-list {
    width: 100%;

    list-style-type: none;
}

.header__menu-item {
    padding: 20px;

    border-bottom: 1px solid #fff;

    a {
        font-family: $font-ten-mincho;
        font-size: 16px;

        display: block;

        transition: opacity $duration $easing;

        color: #fff;

        &:hover {
            opacity: .8;
        }
    }
}
