.header {
    position: relative;
}

.header__hamburger {
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 15px;

    width: 26px;
    height: 24px;

    cursor: pointer;
    transition: transform .5s $easing;
    transform: rotate(0deg);

    span {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        transition: $duration $easing;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 9px;
        background-color: $color-primary;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 11px;
        }

        &:nth-child(4) {
            top: 22px;
        }
    }

    // STATE
    &.is-open {
        right: auto;
        left: 31%;

        @include max-screen($breakpoint-mobile) {
            right: 25px;
            left: auto;
        }

        span {
            background-color: #fff1f3;
            &:nth-child(1) {
                top: 9px;
                left: 50%;

                width: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 9px;
                left: 50%;

                width: 0;
            }
        }
    }
}

.header__menu {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;

    width: 100%;
    height: 100%;
    padding: 150px 20px;

    transition: opacity $duration $easing;

    opacity: 0;
    background-color: $color-primary;

    flex-wrap: wrap;
    align-items: center;
    clip-path: polygon(35% 0, 0 0, 0 180%);
    @include max-screen($breakpoint-mobile) {
        z-index: -1;

        clip-path: polygon(100% 0, 0 0, 0 270%);
    }

    // STATE
    &.is-shown {
        position: fixed;
        z-index: 15;

        opacity: 1;
    }
}

.header__menu-list {
    width: 30%;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.header__menu-item {
    padding: 0 0 40px 10px;

    a {
        font-size: 18px;
        font-weight: bold;

        display: block;

        transition: opacity $duration $easing;

        color: #fff;

        &:hover {
            opacity: .8;
        }
    }
}
