.hero {
    position: relative;

    height: 100vh;
    margin: 0 auto;

    background-color: #f092a2;

    @include max-screen($breakpoint-mobile) {
        height: 96vh;

        text-align: center;

        background: url(#{$path-image}hero-bg.png);
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
    }
}

.hero__decors {
    position: absolute;
    top: 50px;
    left: 0;

    display: none;

    width: 100vw;
    height: 507px;

    background-image: url(#{$path-image}hero-decor.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        display: block;
    }
}

.hero__logo {
    position: relative;

    width: 140px;
    height: 42px;
    margin: 15px 0 0 15px;

    @include max-screen($breakpoint-mobile) {
        width: 110px;
        height: 34px;
        margin: 10px auto 5px;
    }
}

.hero__heading {
    position: relative;
    top: -20px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        top: auto;
    }

    img {
        width: 520px;

        @include max-screen($breakpoint-mobile) {
            top: 0;
            left: 0;

            width: 95vw;
            height: 185px;
        }
    }
}

.hero__curved {
    position: relative;
    top: 0;
    left: 125px;

    @include max-screen($breakpoint-mobile) {
        top: 25px;
        left: 5px;
    }

    p {
        font-family: $font-ten-mincho;
        font-size: 32px;
        font-weight: bold;

        position: absolute;

        transition: opacity 1s $easing;
        transition-delay: .5s;

        opacity: 0;
        color: #fff;

        @include max-screen($breakpoint-mobile) {
            font-size: 17px;

            transition: opacity $duration $easing;
            transition-delay: 0;

            &:before {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;

                width: 100%;
                height: 100%;

                content: '';
                transition: width 2.5s cubic-bezier(.19, 1, .22, 1);

                background: linear-gradient(to right,#ee949e 0%, #f08f9e 100%);
            }
        }

        &:first-of-type {
            left: 100px;

            transform: rotate(-12deg) scale(.8);

            @include max-screen($breakpoint-mobile) {
                top: 0;
                left: 10px;
            }
        }
        &:nth-of-type(2) {
            font-size: 25px;

            top: 100px;
            left: 205px;

            @include max-screen($breakpoint-mobile) {
                font-size: 14px;

                top: 45px;
                left: 95px;
            }
        }
        &:last-of-type {
            top: 195px;
            left: 70px;

            transform: rotate(12deg) scale(.8);

            @include max-screen($breakpoint-mobile) {
                top: 85px;
                left: 0;
            }
        }
    }
}

.hero__support {
    font-family: $font-antro-vectra;
    font-size: 55px;
    font-weight: bold;

    position: absolute;
    z-index: 1;
    bottom: 150px;
    left: 45%;

    transform: rotate(-8deg);
    letter-spacing: .05em;

    color: #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 30px;

        bottom: 83px;
        left: 0;
    }

    span {
        position: relative;
        top: -17px;
        left: 70px;
    }
}

.hero__woman {
    position: absolute;
    right: 50px;
    bottom: 0;

    width: 650px;

    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}

// ANIMATIONS
.hero,
.hero__decors,
.hero__logo,
.hero__heading {
    transition: opacity .5s $easing;

    opacity: 0;

    &.is-shown {
        opacity: 1;
    }
}

.hero__curved {
    &.is-shown {
        p {
            opacity: 1;

            &:before {
                @include max-screen($breakpoint-mobile) {
                    width: 0;
                }
            }
        }
    }
}

.hero__support {
    left: -500px;

    transition: left 1s $easing .5s;

    @include max-screen($breakpoint-mobile) {
        transition: left .8s $easing;
    }

    &.is-shown {
        left: 45%;

        @include max-screen($breakpoint-mobile) {
            left: 0;
        }
    }
}
