.hero {
    position: relative;

    height: 96vh;
    margin: 0 auto;

    text-align: center;

    background-image: url(#{$path-image}hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__decors {
    position: absolute;
    top: 50px;
    left: 0;

    width: 100vw;
    height: 507px;

    background-image: url(#{$path-image}hero-decor.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__logo {
    position: relative;

    width: 110px;
    height: 34px;
    margin: 10px auto 5px;
}

.hero__heading {
    position: relative;

    img {
        width: 95vw;
        height: 185px;
    }
}

.hero__curved {
    position: relative;
    top: 25px;
    left: 5px;

    p {
        font-family: $font-ten-mincho;
        font-size: 17px;
        font-weight: bold;

        position: absolute;

        color: #fff;

        &:first-of-type {
            top: 0;
            left: 10px;

            transform: rotate(-12deg) scale(.8);
        }
        &:nth-of-type(2) {
            font-size: 14px;

            top: 45px;
            left: 95px;
        }
        &:last-of-type {
            top: 85px;
            left: 0;

            transform: rotate(12deg) scale(.8);
        }
    }
}

.hero__support {
    font-family: $font-antro-vectra;
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    bottom: 83px;
    left: 0;

    transform: rotate(-8deg);
    letter-spacing: .05em;

    color: #fff;

    span {
        position: relative;
        top: -17px;
        left: 70px;
    }
}
