.intro {
    display: flex;

    text-align: center;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include max-screen($breakpoint-mobile) {
        display: block;
    }
}

.intro__heading {
    font-family: $font-ten-mincho;
    font-size: 38px;
    font-weight: normal;

    width: 100%;

    letter-spacing: -.01em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 26px;

        width: auto;
    }
}

.intro__list {
    position: relative;

    width: 50%;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        width: auto;
    }
}

.intro__item {
    position: relative;

    display: flex;

    width: 165px;
    height: 165px;

    border: 1px solid #fff;
    border-radius: 100%;
    background-color: $color-primary;
    box-shadow: $color-primary 0 0 0 4px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        position: absolute;

        width: 151px;
        height: 151px;
    }

    &:first-child {
        top: 20px;
        left: 50px;

        @include max-screen($breakpoint-mobile) {
            right: 0;
            left: auto;
        }
    }
    &:nth-child(2) {
        top: 0;
        left: 260px;

        @include max-screen($breakpoint-mobile) {
            top: 165px;
            left: 0;
        }
    }
    &:nth-child(3) {
        top: -30px;
        left: 30px;

        @include max-screen($breakpoint-mobile) {
            top: 545px;
            left: 0;
        }
    }
    &:last-child {
        top: -10px;
        left: 220px;

        @include max-screen($breakpoint-mobile) {
            top: 650px;
            right: 0;
            left: auto;
        }
    }

    p {
        font-family: $font-ten-mincho;
        font-size: 21px;
        line-height: 1.3;

        color: #fff;
    }
}

.intro__image {
    width: 550px;

    @include max-screen($breakpoint-mobile) {
        width: 355px;
        height: 371px;
        margin-top: 250px;
    }
}

.intro__bottom {
    font-family: $font-ten-mincho;
    font-size: 38px;

    width: 100%;
    margin-top: 40px;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 30px;

        width: auto;
        margin-top: 240px;
    }
}
