.intro {
    text-align: center;
}

.intro__heading {
    font-family: $font-ten-mincho;
    font-size: 26px;
    font-weight: normal;

    letter-spacing: -.01em;

    color: $color-primary;
}

.intro__list {
    position: relative;

    list-style-type: none;
}

.intro__item {
    position: absolute;

    display: flex;

    width: 151px;
    height: 151px;

    border: 1px solid #fff;
    border-radius: 100%;
    background-color: $color-primary;
    box-shadow: $color-primary 0 0 0 4px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:first-child {
        top: 75px;
        right: 0;
    }
    &:nth-child(2) {
        top: 165px;
        left: 0;
    }
    &:nth-child(3) {
        top: 545px;
        left: 0;
    }
    &:last-child {
        top: 650px;
        right: 0;
    }

    p {
        font-family: $font-ten-mincho;
        font-size: 21px;
        line-height: 1.3;

        color: #fff;
    }
}

.intro__image {
    width: 355px;
    height: 371px;
    margin-top: 250px;
}

.intro__bottom {
    font-family: $font-ten-mincho;
    font-size: 30px;

    margin-top: 240px;

    color: $color-primary;
}
