.intro {
    display: block;

    text-align: center;
}

.intro__heading {
    font-family: $font-ten-mincho;
    font-size: 38px;
    font-weight: normal;

    position: relative;

    width: 100%;

    letter-spacing: -.01em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 26px;

        width: auto;
    }

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: width 7s cubic-bezier(.19, 1, .22, 1);

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            transition-duration: 3.5s;
        }
    }
}

.intro__list {
    position: relative;

    list-style-type: none;
}

.intro__item {
    position: absolute;

    display: flex;

    width: 165px;
    height: 165px;

    opacity: 0;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: $color-primary;
    box-shadow: $color-primary 0 0 0 4px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        width: 151px;
        height: 151px;
    }

    &:first-child {
        top: 50px;
        right: 250px;

        transition: opacity 1.5s cubic-bezier(.23, 1, .32, 1) 1s;

        @include max-screen($breakpoint-mobile) {
            top: 75px;
            right: 0;
        }
    }
    &:nth-child(2) {
        top: 165px;
        left: 200px;

        transition: opacity 1.5s cubic-bezier(.23, 1, .32, 1) 2s;

        @include max-screen($breakpoint-mobile) {
            left: 0;
        }
    }
    &:nth-child(3) {
        top: 545px;
        left: 200px;

        transition: opacity 1.5s cubic-bezier(.23, 1, .32, 1) 3s;

        @include max-screen($breakpoint-mobile) {
            left: 0;
        }
    }
    &:last-child {
        top: 760px;
        right: 250px;

        transition: opacity 1.5s cubic-bezier(.23, 1, .32, 1) 4s;

        @include max-screen($breakpoint-mobile) {
            top: 650px;
            right: 0;
            left: auto;
        }
    }

    p {
        font-family: $font-ten-mincho;
        font-size: 21px;
        line-height: 1.3;

        color: #fff;
    }
}

.intro__image {
    width: 480px;
    margin-top: 250px;
    margin-bottom: 230px;

    transition: opacity .5s $easing;

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        width: 355px;
        height: 371px;
        margin-bottom: 0;
    }
}

.intro__bottom {
    font-family: $font-ten-mincho;
    font-size: 38px;

    position: relative;

    width: 100%;
    margin-top: 40px;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 30px;

        width: auto;
        margin-top: 240px;
    }

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: width 7s cubic-bezier(.19, 1, .22, 1);

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            transition-duration: 3.5s;
        }
    }
}

// ANIMATIONS
.intro__heading,
.intro__bottom {
    &.is-shown {
        &:before {
            width: 0;
        }
    }
}

.intro__image {
    &.is-shown {
        opacity: 1;
    }
}

.intro__list {
    &.is-shown {
        .intro__item {
            opacity: 1;
        }
    }
}
