.services__heading {
    width: 480px;
    margin: 0 auto;

    transition: opacity $duration $easing;
    text-align: center;

    opacity: 0;
    background-image: url(#{$path-image}services-heading-border.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        width: 335px;
        height: 92px;
    }
}

.services__heading-sub {
    font-family: $font-ten-mincho;
    font-size: 25px;
    font-weight: normal;

    position: relative;
    top: -20px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 18px;
    }
}

.services__heading-main {
    font-family: $font-ten-mincho;
    font-size: 38px;
    font-weight: normal;
    line-height: 1.3;

    position: relative;
    top: -20px;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 29px;
    }

    span {
        font-size: 53px;

        @include max-screen($breakpoint-mobile) {
            font-size: 40px;
        }
    }
}

.services__list {
    margin: 50px 0 80px;

    list-style-type: none;

    counter-reset: items;
}

.services__item {
    position: relative;

    display: flex;

    margin-bottom: 60px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
        position: relative;

        width: 30%;
    }

    &:first-child {
        img {
            @include max-screen($breakpoint-mobile) {
                width: 265px;
                height: 275px;
            }
        }

        .services__item-title {
            background-position: 59px 13px;
            background-size: 67% 26%;
        }
    }

    &:nth-child(2) {
        img {
            right: 0;
            left: auto;

            margin-left: auto;

            order: 2;
            @include max-screen($breakpoint-mobile) {
                width: 266px;
                height: 278px;

                order: auto;
            }
        }

        .services__item-details {
            top: 20px;

            width: 25%;
            margin-left: auto;

            order: 1;
            @include max-screen($breakpoint-mobile) {
                width: auto;
                margin-left: initial;

                order: 2;
            }
        }

        .services__item-title {
            width: 100%;
            margin-left: 105px;

            background-position: -7px 13px;
            background-size: 40% 26%;

            @include max-screen($breakpoint-mobile) {
                width: auto;
            }
        }
    }

    &:last-child {
        img {
            @include max-screen($breakpoint-mobile) {
                width: 256px;
                height: 268px;
            }
        }

        .services__item-title {
            margin-left: 105px;

            background-position: -5px 12px;
            background-size: 78% 25%;
        }
    }
}

.services__item-details {
    position: relative;

    width: 60%;

    @include max-screen($breakpoint-mobile) {
        top: 10px;

        width: 100%;
    }

    &:before {
        font-family: $font-antro-vectra;
        font-size: 35px;

        position: absolute;
        top: 0;
        left: 0;

        content: 'Point';
        transform: rotate(-25deg);

        color: $color-primary;
    }

    &:after {
        font-family: $font-ten-mincho;
        font-size: 86px;

        position: absolute;
        top: -50px;
        left: 35px;

        content: counter(items);
        counter-increment: items;

        color: $color-primary;
    }
}

.services__item-title {
    font-family: $font-ten-mincho;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.3;

    margin-left: 90px;

    color: $color-primary;
    background-repeat: no-repeat;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;

        background-image: url(#{$path-image}service-dash.png);
    }
}

.services__item-description {
    font-size: 14px;
    font-size: 18px;

    width: 450px;
    height: 180px;
    padding: 35px;

    color: #cca873;
    background-image: url(#{$path-image}service-description-bg.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        display: flex;

        width: 335px;
        height: 135px;
        margin: 30px auto 0;
        padding: 20px 25px;

        background-size: cover;

        flex-wrap: wrap;
        align-items: center;
    }
}

.services__bottom {
    line-height: 2;

    position: relative;

    margin: 0 auto;

    text-align: center;
}

.services__bottom-sub {
    font-family: $font-ten-mincho;
    font-size: 25px;

    color: #cca873;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;
    }
}

.services__bottom-main {
    font-family: $font-ten-mincho;
    font-size: 38px;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 35px;
        line-height: 1.5;
    }
}

.services__heading-sub,
.services__heading-main,
.services__bottom {
    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: width 3.5s cubic-bezier(.19, 1, .22, 1);

        background-color: #fff1f3;
    }
}

.services__bottom {
    &:before {
        transition-duration: 7s;

        @include max-screen($breakpoint-mobile) {
            transition-duration: 3.5s;
        }
    }
}


// ANIMATIONS
.services__heading {
    &.is-shown {
        opacity: 1;

        .services__heading-sub,
        .services__heading-main {
            &:before {
                width: 0;
            }
        }
    }
}

.services__bottom {
    &.is-shown {
        &:before {
            width: 0;
        }
    }
}

.services__item {
    transition: opacity .7s $easing,
    transform .7s $easing;

    opacity: 0;

    &:first-child,
    &:last-child {
        transform: translateX(-200px);
    }
    &:nth-child(2) {
        transform: translateX(200px);
    }

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}
